*{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
}
body{
    background-color: rgb(5, 0, 22);
    scroll-behavior: smooth;
}
#topimage{
    height:12cm;
    padding-top: 0.2cm;
 background-image: url(https://wallpaperaccess.com/full/25187.jpg); 
    opacity: 78%;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.37);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-bottom: black solid 3px;
    box-shadow: rgb(122, 122, 122) 3px 3px 8px ;
}

#topimage span h2{
    color: rgb(255, 255, 255);
    margin-top: 0.5cm;
    font-family: 'Abril Fatface', cursive;
    float: left;
}
span h2 {
    padding-left: 0.7cm;
}
span h2 i{ color: rgb(255, 231, 96);}

#topimage button {
    background-color: rgba(255, 5, 5, 0.938);
    color: rgb(255, 255, 255);
    float: right;
    margin-top: 0.6cm;
    margin-right: 1cm;
}
#topimage button a{
    text-decoration: none;
    color: white;
    font-family: 'ZCOOL KuaiLe';
}
#topimage button:hover {
    background-color:  rgba(255, 5, 18, 0.527);
}
#topimage h1 {
    color: rgb(255, 255, 255);
   
    font-family: 'Zen Tokyo Zoo';
    font-size: 1.3cm;
    font-weight: bolder;
    margin-top: 5cm;
    margin-left: 6.5cm;
}
#topimage h3 {
    color: rgb(245, 222, 222);
    font-size: 0.8cm;
    font-family: 'Mate', serif;
    margin-left: 14cm;
}

#topimage form{
    width: 15cm;
    padding-top: 0.3cm;
    margin-left: 12cm;
}

#topimage form button{
    color: rgb(255, 255, 255);
    background-color: rgba(112, 108, 108, 0.842);
    width: 4cm;
}
#topimage form button :hover{
    color: rgb(255, 255, 255);
}
#upcomming_movies{
    margin-top: 1cm;
    margin-left: 1cm;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-family: 'Josefin Sans', sans-serif;
}

#movieimage{
    margin-top: 0.1cm;
    border:solid 2px rgb(58, 57, 57) 3px 3px ;
    border-radius: 6px;
    margin-left: 8px;
    position: relative;
    height: 7cm;
    width: 7cm;
    margin-bottom: 0.4cm;
}

#movieimage:hover{
    border:solid 4px rgb(73, 73, 73) 4px 4px ;
    display: none;
}

#movie_name{
    margin-left: 4px;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 0.4cm;
    margin-bottom: 0.15cm;
}
#moviedescription{
    margin-top: 0.01cm;
    color: rgb(255, 255, 255);
    /* display: none; */
    margin-left: 6px;
    font-family: 'Times New Roman', Times, serif;
}
#moviedescription:hover{display: block;}




.scroll{
    padding: 1cm;
    display: flex;
    height: 14.8cm;
    overflow-x: scroll;
    scroll-behavior: smooth;
    overflow-y: hidden;
}
#one{
    margin-left: 0.8cm;
    padding: 10px;
     
}
.card{
    background-color: rgb(21, 21, 21); 
    color: rgb(255, 255, 255);
    margin-left: -1cm;
    margin-right: 0.9cm;
}
.card:hover{
    background-color: rgba(73, 73, 73, 0.748); 
    cursor: pointer;
}
.popular{
    border-bottom: solid silver 4px  4px 4px;

}



/* TWO */

.searchresults{
    border-bottom: white 1px solid;
    box-shadow: white 2px 2px 2px ;
}
img{
    width:7cm;
    height:6cm;
}
#body{
    background-color: rgb(255, 255, 255);
}
.grid{
    display:flex;
    margin-top:1cm;
    color: blanchedalmond;
}
.grid img{
    border: solid 2px 3px;
    border-radius: 10px;
    margin-left: 0.7cm;
    margin-right: 2px;
}
.grid section{ background-color: rgba(150, 150, 150, 0);
               margin-right: 0.7cm;      }




               /* trial */
.trial{
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    overflow-y: hidden;
    padding: 1cm;
  
}
.trial section{
    margin-left: 1cm;
}
 #movieimage_trial{
     height: 6cm;
     width: 5cm;
     opacity: 80%;
     border-radius: 10%;
 }            

 #movieimage_trial:hover{
     cursor: pointer;
     opacity: 100%;
 }
 #movie_name_trial{
     color: rgb(255, 255, 255);
     font-family: 'Domine', serif;
     font-size: larger;
     font-weight: bolder;
     margin-left: 1px;
 }  
 #release_date{
     color: rgb(255, 255, 255);
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin-left: 1px;
   
 }  

 #vote{
     border: solid 2px rgb(255, 0, 0);
     border-radius: 60%;
     background-color: rgb(235, 28, 28);
     color: rgb(255, 255, 255);
     width: 1.2cm;
     font-weight: bolder;
     height: 1.2cm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     padding-left: 9px;
     padding-top: 7px;
     margin-top: -0.5cm;
     opacity: 100%;
     position: relative;
     margin-bottom: 0.2cm;
     margin-left: 0.5cm;
 }
 #vote_green{
     border: solid 2px rgb(38, 85, 22);
     border-radius: 60%;
     background-color: rgb(33, 89, 14);
     color: rgb(255, 255, 255);
     width: 1.2cm;
     font-weight: bolder;
     height: 1.2cm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     padding-left: 9px;
     padding-top: 7px;
     margin-top: -0.5cm;
     opacity: 100%;
     position: relative;
     margin-bottom: 0.2cm;
     margin-left: 0.5cm;
 }


 /* footer */
 #h2{
    color:white;
    margin-left:17cm;
    margin-top:1cm;
}
.flex a{
    color:rgb(87, 87, 255);
    margin-left:2cm;
    margin-top:0.3cm;
    text-decoration: none;
    list-style:none;
}
.flex{
    margin-left:9.5cm;
    display:flex;
    margin-bottom: 1cm;
}
